<!DOCTYPE html>
<html>

<head>

    <!-- Page title -->
    <title>DNS Graph</title>

    <style>

        /* Main page styling */
        body{
            background:#0f172a;
            text-align:center;
            color:white;
            font-family:Arial;
        }

        /* Graph image styling */
        img{
            width:80%;
            margin-top:30px;
            border-radius:10px;
        }

    </style>

</head>

<body>

    <!-- Page heading -->
    <h1>Top DNS Domains</h1>

    <!-- Display generated graph image -->
    <img src="/static/top_domains.png">

</body>

</html>